.userSearch__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    left:50%;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}