.userSearch__list {
    padding: 0;
}

@media only screen and (max-width: 930px) {
    .userSearch__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 23rem;
        overflow: auto;
    }
}

@media only screen and (max-height: 414px) {
    .userSearch__list {
        max-height: 10rem;
    }
}

@media only screen and (max-height: 280px) {
    .userSearch__list {
        max-height: 7rem;
    }
}