.userSearch__listElementName {
    color: #979cb0;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0.64px;
    text-align: left;
}

@media only screen and (max-width: 1084px) {
    .userSearch__listElementName {
      font-size: 1rem;
    }
}